/*  Color   */
:root {
  --co-0: #ffffff;
  --co-1: #d9d9d9;
  --co-2: #a6a6a6;
  --co-3: #737373;
  --co-4: #333d43;
  --co-5: #181917;
  --co-6: linear-gradient(180deg, #364047, #000000);
  --co-7: #000000;
}

.co-0 {
  color: var(--co-0);
}
.co-1 {
  color: var(--co-1);
}
.co-2 {
  color: var(--co-2);
}
.co-3 {
  color: var(--co-3);
}
.co-4 {
  color: var(--co-4);
}
.co-5 {
  color: var(--co-5);
}
.co-6 {
  color: var(--co-6);
}
.co-7 {
  color: var(--co-7);
}

/*  Typography   */
.font-1-s {
  font: 300 3.9rem/1 "Anton", serif;
}
.font-2-s {
  font: 300 3.5rem/1 "Anton", serif;
}
.font-3-s {
  font: 300 3.5rem/1 "Anton", serif;
  letter-spacing: 3px;
}
.font-4-s {
  font: 300 1.7rem/1 "Anton", serif;
}
.font-1-xs {
  font: 300 2rem/1 "Cormorant Garamond", serif;
}
.font-2-xs {
  font: 300 1.6rem/1 "Cormorant Garamond", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.font-3-xs {
  font: 300 1.2rem/1 "Cormorant Garamond", serif;
  text-transform: uppercase;
}
.font-4-xs {
  font: 700 1.2rem/1 "Cormorant Garamond", serif;
  text-transform: uppercase;
}

@media (max-width: 740px) {
  .font-1-s {
    font-size: 3.5rem;
  }
  .font-1-xs {
    font-size: 1.6rem;
  }
}
@media (max-width: 380px) {
  .font-2-s {
    font-size: 2.9rem;
  }
  .font-2-xs {
    font-size: 1.4rem;
  }
}
@media (max-width: 225px) {
  .font-1-s {
    font-size: 2.9rem;
  }
  .font-1-xs {
    font-size: 1.4rem;
  }
}
/*  Global   */
body {
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  border: none;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  margin: 0;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}

/*  Header   */
.content-bg {
  background-color: var(--co-4);
}
.header-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  padding: 50px 20px;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}
.header-container h1 {
  justify-self: left;
}
.header-nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
  justify-self: right;
}
.header-nav a {
  white-space: nowrap;
  transition: 0.3s;
}
.header-nav a:hover {
  color: var(--co-0);
}
@media (max-width: 740px) {
  .header-nav {
    gap: 25px;
  }
}

@media (max-width: 618px) {
  .header-container {
    gap: 25px;
  }
  .header-container h1,
  .header-nav {
    justify-self: center;
  }
}
@media (max-width: 418px) {
  .header-container {
    min-width: 50px;
  }
  .header-nav {
    display: grid;
    grid-template-columns: none;
    gap: 14px;
    justify-items: center;
  }
}
@media (max-width: 331px) {
  .header-container {
    grid-template-columns: 1fr;
  }
}

/*  TestDrive   */
.testdrive-container {
  display: grid;
  grid-template-columns: minmax(350px, 1fr) auto minmax(350px, 1fr);
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto;
}
.testdrive-container img {
  justify-self: center;
  max-width: 350px;
  width: 100%;
}
.testdrive-about {
  align-self: center;
}
.testdrive-about h2 {
  margin-bottom: 50px;
}
.testdrive-about p {
  text-align: left;
}
.testdrive-specifications {
  align-self: end;
}
.testdrive-specifications li:nth-child(-n + 3) {
  margin-left: 100px;
}
.testdrive-specifications li + li {
  margin-top: 40px;
}
.testdrive-specifications sup {
  position: relative;
  right: 15px;
}
.extra {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}
.testdrive-specifications button {
  padding: 12px 30px;
  background-color: transparent;
  border: 1px solid var(--co-0);
  justify-self: start;
  cursor: pointer;
}
.testdrive-specifications button:hover {
  background-color: var(--co-2);
  transition: 0.4s;
}
.testdrive-specifications li {
  position: relative;
}
.testdrive-specifications li::before {
  content: "";
  position: absolute;
  width: 90px;
  background: linear-gradient(
    90deg,
    var(--co-0) 5px,
    transparent 5px,
    transparent 7px
  );
  background-size: 7px 1px;
  background-repeat: repeat-x;
  top: 25px;
  left: -100px;
  height: 1px;
}
.testdrive-specifications li::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: var(--co-0);
  top: 15px;
  left: -10px;
  height: 20px;
}
@media (max-width: 1146px) {
  .testdrive-specifications button {
    padding: 12px 15px;
  }
}
@media (max-width: 950px) {
  .testdrive-specifications {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    width: 100%;
  }
  .testdrive-about h2 {
    margin-bottom: 25px;
  }
  .testdrive-about p {
    margin-bottom: 50px;
  }
  .testdrive-specifications li + li {
    margin-top: 0px;
  }
  .testdrive-container img {
    margin-bottom: 40px;
  }
  .extra {
    grid-template-columns: auto;
  }
  .testdrive-specifications button {
    justify-self: center;
  }
  .testdrive-specifications li {
    margin-bottom: 50px;
  }
  .testdrive-specifications li:nth-child(-n + 3) {
    margin-left: 0px;
  }
  .testdrive-specifications li::before {
    display: none;
  }
  .testdrive-specifications li::after {
    display: none;
  }
  .testdrive-about p {
    text-align: center;
  }
  .testdrive-container {
    text-align: center;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 270px) {
  .testdrive-specifications {
    grid-template-columns: auto;
  }
}
